{{title}}
<table><tr><td>
  <nav>
  <a routerLink="/home">home page</a>
</nav>
</td><td>
<nav>
  <a routerLink="/login">login page</a>
</nav>
</td></tr>
</table>
<hr>
root module
lazyload
array
ngif
ngfor
guard:
login service,
dologin(login,password),
в конструкторе импорт логин сервиса,
добавить в providers
хранить имя пользователя, токен
debugger == точка останова
есть токен = залогинен, нет - кидать на страницу входа
guard = ng g g
конструктор с логинсервисом
в canactivate проверка на наличие токена
guard тоже в провайдеры
в routes чтобы не пускало добавить canactivate:authguard

чтобы не выкидывало после ф5 - localstorage и sessionstorag

<hr>

<router-outlet></router-outlet>