{{title}}
<table><tr><td>
  <nav>
  <a routerLink="/home">home page</a>
</nav>
</td><td>
<nav>
  <a routerLink="/login">login page</a>
</nav>
</td><td>
<nav>
  <a routerLink="/root">root (lazyload)</a>
</nav>
</td></tr>
</table>

<p align="right" *ngIf="title!='Hello, guest!'">
                  <button align="right" (click)="logOut()" >log out</button>
                </p>
      
      курсач
журнал документов
ввод документов(сущность)
ввод связных документов (список чего то там)
выбор из списка/выпадающего
разные роли(логин организатор/участник)
для них разные интерфейсы
сервер на java
запехать в облака желательно (docker container)
желательно логирование и мониторинг

<!--
-root module
-lazyload
-array
-ngif
-ngfor
-guard:
login service,
dologin(login,password),
в конструкторе импорт логин сервиса,
добавить в providers
хранить имя пользователя, токен
debugger == точка останова
есть токен = залогинен, нет - кидать на страницу входа
guard = ng g g
конструктор с логинсервисом
в canactivate проверка на наличие токена
guard тоже в провайдеры
в routes чтобы не пускало добавить canactivate:authguard

чтобы не выкидывало после ф5 - localstorage и sessionstorage
webstorage: npm i ngx-webstorage
ngx-webstorage.forroot() в imports
создаем sessionservice
public setsessionparam()
public getsessionparam()
получаем в конструкторе loginservice
сохраняем при входе

заблокировать кнопку аттрибутом [disabled]="!f.valid"
-->
<hr>

<router-outlet></router-outlet>